@charset "UTF-8";
@font-face {
  font-family: "entypo";
  src: url("./entypo.f9fc0f86.eot?8644018");
  src: url("./entypo.f9fc0f86.eot?8644018#iefix") format("embedded-opentype"), url("./entypo.01cc595a.woff?8644018") format("woff"), url("./entypo.dfe62249.ttf?8644018") format("truetype"), url("./entypo.4b16f478.svg?8644018#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?8644018#entypo') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-note:before {
  content: "♪";
}

/* '♪' */
.icon-note-beamed:before {
  content: "♫";
}

/* '♫' */
.icon-music:before {
  content: "🎵";
}

/* '\1f3b5' */
.icon-search:before {
  content: "🔍";
}

/* '\1f50d' */
.icon-flashlight:before {
  content: "🔦";
}

/* '\1f526' */
.icon-mail:before {
  content: "✉";
}

/* '✉' */
.icon-heart:before {
  content: "♥";
}

/* '♥' */
.icon-heart-empty:before {
  content: "♡";
}

/* '♡' */
.icon-star:before {
  content: "★";
}

/* '★' */
.icon-star-empty:before {
  content: "☆";
}

/* '☆' */
.icon-user:before {
  content: "👤";
}

/* '\1f464' */
.icon-users:before {
  content: "👥";
}

/* '\1f465' */
.icon-user-add:before {
  content: "";
}

/* '' */
.icon-video:before {
  content: "🎬";
}

/* '\1f3ac' */
.icon-picture:before {
  content: "🌄";
}

/* '\1f304' */
.icon-camera:before {
  content: "📷";
}

/* '\1f4f7' */
.icon-layout:before {
  content: "⚏";
}

/* '⚏' */
.icon-menu:before {
  content: "☰";
}

/* '☰' */
.icon-check:before {
  content: "✓";
}

/* '✓' */
.icon-cancel:before {
  content: "✕";
}

/* '✕' */
.icon-cancel-circled:before {
  content: "✖";
}

/* '✖' */
.icon-cancel-squared:before {
  content: "❎";
}

/* '❎' */
.icon-plus:before {
  content: "+";
}

/* '+' */
.icon-plus-circled:before {
  content: "➕";
}

/* '➕' */
.icon-plus-squared:before {
  content: "⊞";
}

/* '⊞' */
.icon-minus:before {
  content: "-";
}

/* '-' */
.icon-minus-circled:before {
  content: "➖";
}

/* '➖' */
.icon-minus-squared:before {
  content: "⊟";
}

/* '⊟' */
.icon-help:before {
  content: "❓";
}

/* '❓' */
.icon-help-circled:before {
  content: "";
}

/* '' */
.icon-info:before {
  content: "ℹ";
}

/* 'ℹ' */
.icon-info-circled:before {
  content: "";
}

/* '' */
.icon-back:before {
  content: "🔙";
}

/* '\1f519' */
.icon-home:before {
  content: "⌂";
}

/* '⌂' */
.icon-link:before {
  content: "🔗";
}

/* '\1f517' */
.icon-attach:before {
  content: "📎";
}

/* '\1f4ce' */
.icon-lock:before {
  content: "🔒";
}

/* '\1f512' */
.icon-lock-open:before {
  content: "🔓";
}

/* '\1f513' */
.icon-eye:before {
  content: "";
}

/* '' */
.icon-tag:before {
  content: "";
}

/* '' */
.icon-bookmark:before {
  content: "🔖";
}

/* '\1f516' */
.icon-bookmarks:before {
  content: "📑";
}

/* '\1f4d1' */
.icon-flag:before {
  content: "⚑";
}

/* '⚑' */
.icon-thumbs-up:before {
  content: "👍";
}

/* '\1f44d' */
.icon-thumbs-down:before {
  content: "👎";
}

/* '\1f44e' */
.icon-download:before {
  content: "📥";
}

/* '\1f4e5' */
.icon-upload:before {
  content: "📤";
}

/* '\1f4e4' */
.icon-upload-cloud:before {
  content: "";
}

/* '' */
.icon-reply:before {
  content: "";
}

/* '' */
.icon-reply-all:before {
  content: "";
}

/* '' */
.icon-forward:before {
  content: "➦";
}

/* '➦' */
.icon-quote:before {
  content: "❞";
}

/* '❞' */
.icon-code:before {
  content: "";
}

/* '' */
.icon-export:before {
  content: "";
}

/* '' */
.icon-pencil:before {
  content: "✎";
}

/* '✎' */
.icon-feather:before {
  content: "✒";
}

/* '✒' */
.icon-print:before {
  content: "";
}

/* '' */
.icon-retweet:before {
  content: "";
}

/* '' */
.icon-keyboard:before {
  content: "⌨";
}

/* '⌨' */
.icon-comment:before {
  content: "";
}

/* '' */
.icon-chat:before {
  content: "";
}

/* '' */
.icon-bell:before {
  content: "🔔";
}

/* '\1f514' */
.icon-attention:before {
  content: "⚠";
}

/* '⚠' */
.icon-alert:before {
  content: "💥";
}

/* '\1f4a5' */
.icon-vcard:before {
  content: "";
}

/* '' */
.icon-address:before {
  content: "";
}

/* '' */
.icon-location:before {
  content: "";
}

/* '' */
.icon-map:before {
  content: "";
}

/* '' */
.icon-direction:before {
  content: "➢";
}

/* '➢' */
.icon-compass:before {
  content: "";
}

/* '' */
.icon-cup:before {
  content: "☕";
}

/* '☕' */
.icon-trash:before {
  content: "";
}

/* '' */
.icon-doc:before {
  content: "";
}

/* '' */
.icon-docs:before {
  content: "";
}

/* '' */
.icon-doc-landscape:before {
  content: "";
}

/* '' */
.icon-doc-text:before {
  content: "📄";
}

/* '\1f4c4' */
.icon-doc-text-inv:before {
  content: "";
}

/* '' */
.icon-newspaper:before {
  content: "📰";
}

/* '\1f4f0' */
.icon-book-open:before {
  content: "📖";
}

/* '\1f4d6' */
.icon-book:before {
  content: "📕";
}

/* '\1f4d5' */
.icon-folder:before {
  content: "📁";
}

/* '\1f4c1' */
.icon-archive:before {
  content: "";
}

/* '' */
.icon-box:before {
  content: "📦";
}

/* '\1f4e6' */
.icon-rss:before {
  content: "";
}

/* '' */
.icon-phone:before {
  content: "📞";
}

/* '\1f4de' */
.icon-cog:before {
  content: "⚙";
}

/* '⚙' */
.icon-tools:before {
  content: "⚒";
}

/* '⚒' */
.icon-share:before {
  content: "";
}

/* '' */
.icon-shareable:before {
  content: "";
}

/* '' */
.icon-basket:before {
  content: "";
}

/* '' */
.icon-bag:before {
  content: "👜";
}

/* '\1f45c' */
.icon-calendar:before {
  content: "📅";
}

/* '\1f4c5' */
.icon-login:before {
  content: "";
}

/* '' */
.icon-logout:before {
  content: "";
}

/* '' */
.icon-mic:before {
  content: "🎤";
}

/* '\1f3a4' */
.icon-mute:before {
  content: "🔇";
}

/* '\1f507' */
.icon-sound:before {
  content: "🔊";
}

/* '\1f50a' */
.icon-volume:before {
  content: "";
}

/* '' */
.icon-clock:before {
  content: "🕔";
}

/* '\1f554' */
.icon-hourglass:before {
  content: "⏳";
}

/* '⏳' */
.icon-lamp:before {
  content: "💡";
}

/* '\1f4a1' */
.icon-light-down:before {
  content: "🔅";
}

/* '\1f505' */
.icon-light-up:before {
  content: "🔆";
}

/* '\1f506' */
.icon-adjust:before {
  content: "◑";
}

/* '◑' */
.icon-block:before {
  content: "🚫";
}

/* '\1f6ab' */
.icon-resize-full:before {
  content: "";
}

/* '' */
.icon-resize-small:before {
  content: "";
}

/* '' */
.icon-popup:before {
  content: "";
}

/* '' */
.icon-publish:before {
  content: "";
}

/* '' */
.icon-window:before {
  content: "";
}

/* '' */
.icon-arrow-combo:before {
  content: "";
}

/* '' */
.icon-down-circled:before {
  content: "";
}

/* '' */
.icon-left-circled:before {
  content: "";
}

/* '' */
.icon-right-circled:before {
  content: "";
}

/* '' */
.icon-up-circled:before {
  content: "";
}

/* '' */
.icon-down-open:before {
  content: "";
}

/* '' */
.icon-left-open:before {
  content: "";
}

/* '' */
.icon-right-open:before {
  content: "";
}

/* '' */
.icon-up-open:before {
  content: "";
}

/* '' */
.icon-down-open-mini:before {
  content: "";
}

/* '' */
.icon-left-open-mini:before {
  content: "";
}

/* '' */
.icon-right-open-mini:before {
  content: "";
}

/* '' */
.icon-up-open-mini:before {
  content: "";
}

/* '' */
.icon-down-open-big:before {
  content: "";
}

/* '' */
.icon-left-open-big:before {
  content: "";
}

/* '' */
.icon-right-open-big:before {
  content: "";
}

/* '' */
.icon-up-open-big:before {
  content: "";
}

/* '' */
.icon-down:before {
  content: "⬇";
}

/* '⬇' */
.icon-left:before {
  content: "⬅";
}

/* '⬅' */
.icon-right:before {
  content: "➡";
}

/* '➡' */
.icon-up:before {
  content: "⬆";
}

/* '⬆' */
.icon-down-dir:before {
  content: "▾";
}

/* '▾' */
.icon-left-dir:before {
  content: "◂";
}

/* '◂' */
.icon-right-dir:before {
  content: "▸";
}

/* '▸' */
.icon-up-dir:before {
  content: "▴";
}

/* '▴' */
.icon-down-bold:before {
  content: "";
}

/* '' */
.icon-left-bold:before {
  content: "";
}

/* '' */
.icon-right-bold:before {
  content: "";
}

/* '' */
.icon-up-bold:before {
  content: "";
}

/* '' */
.icon-down-thin:before {
  content: "↓";
}

/* '↓' */
.icon-left-thin:before {
  content: "←";
}

/* '←' */
.icon-right-thin:before {
  content: "→";
}

/* '→' */
.icon-up-thin:before {
  content: "↑";
}

/* '↑' */
.icon-ccw:before {
  content: "⟲";
}

/* '⟲' */
.icon-cw:before {
  content: "⟳";
}

/* '⟳' */
.icon-arrows-ccw:before {
  content: "🔄";
}

/* '\1f504' */
.icon-level-down:before {
  content: "↳";
}

/* '↳' */
.icon-level-up:before {
  content: "↰";
}

/* '↰' */
.icon-shuffle:before {
  content: "🔀";
}

/* '\1f500' */
.icon-loop:before {
  content: "🔁";
}

/* '\1f501' */
.icon-switch:before {
  content: "⇆";
}

/* '⇆' */
.icon-play:before {
  content: "▶";
}

/* '▶' */
.icon-stop:before {
  content: "■";
}

/* '■' */
.icon-pause:before {
  content: "⎉";
}

/* '⎉' */
.icon-record:before {
  content: "⚫";
}

/* '⚫' */
.icon-to-end:before {
  content: "⏭";
}

/* '⏭' */
.icon-to-start:before {
  content: "⏮";
}

/* '⏮' */
.icon-fast-forward:before {
  content: "⏩";
}

/* '⏩' */
.icon-fast-backward:before {
  content: "⏪";
}

/* '⏪' */
.icon-progress-0:before {
  content: "";
}

/* '' */
.icon-progress-1:before {
  content: "";
}

/* '' */
.icon-progress-2:before {
  content: "";
}

/* '' */
.icon-progress-3:before {
  content: "";
}

/* '' */
.icon-target:before {
  content: "🎯";
}

/* '\1f3af' */
.icon-palette:before {
  content: "🎨";
}

/* '\1f3a8' */
.icon-list:before {
  content: "";
}

/* '' */
.icon-list-add:before {
  content: "";
}

/* '' */
.icon-signal:before {
  content: "📶";
}

/* '\1f4f6' */
.icon-trophy:before {
  content: "🏆";
}

/* '\1f3c6' */
.icon-battery:before {
  content: "🔋";
}

/* '\1f50b' */
.icon-back-in-time:before {
  content: "";
}

/* '' */
.icon-monitor:before {
  content: "💻";
}

/* '\1f4bb' */
.icon-mobile:before {
  content: "📱";
}

/* '\1f4f1' */
.icon-network:before {
  content: "";
}

/* '' */
.icon-cd:before {
  content: "💿";
}

/* '\1f4bf' */
.icon-inbox:before {
  content: "";
}

/* '' */
.icon-install:before {
  content: "";
}

/* '' */
.icon-globe:before {
  content: "🌎";
}

/* '\1f30e' */
.icon-cloud:before {
  content: "☁";
}

/* '☁' */
.icon-cloud-thunder:before {
  content: "⛈";
}

/* '⛈' */
.icon-flash:before {
  content: "⚡";
}

/* '⚡' */
.icon-moon:before {
  content: "☽";
}

/* '☽' */
.icon-flight:before {
  content: "✈";
}

/* '✈' */
.icon-paper-plane:before {
  content: "";
}

/* '' */
.icon-leaf:before {
  content: "🍂";
}

/* '\1f342' */
.icon-lifebuoy:before {
  content: "";
}

/* '' */
.icon-mouse:before {
  content: "";
}

/* '' */
.icon-briefcase:before {
  content: "💼";
}

/* '\1f4bc' */
.icon-suitcase:before {
  content: "";
}

/* '' */
.icon-dot:before {
  content: "";
}

/* '' */
.icon-dot-2:before {
  content: "";
}

/* '' */
.icon-dot-3:before {
  content: "";
}

/* '' */
.icon-brush:before {
  content: "";
}

/* '' */
.icon-magnet:before {
  content: "";
}

/* '' */
.icon-infinity:before {
  content: "∞";
}

/* '∞' */
.icon-erase:before {
  content: "⌫";
}

/* '⌫' */
.icon-chart-pie:before {
  content: "";
}

/* '' */
.icon-chart-line:before {
  content: "📈";
}

/* '\1f4c8' */
.icon-chart-bar:before {
  content: "📊";
}

/* '\1f4ca' */
.icon-chart-area:before {
  content: "🔾";
}

/* '\1f53e' */
.icon-tape:before {
  content: "✇";
}

/* '✇' */
.icon-graduation-cap:before {
  content: "🎓";
}

/* '\1f393' */
.icon-language:before {
  content: "";
}

/* '' */
.icon-ticket:before {
  content: "🎫";
}

/* '\1f3ab' */
.icon-water:before {
  content: "💦";
}

/* '\1f4a6' */
.icon-droplet:before {
  content: "💧";
}

/* '\1f4a7' */
.icon-air:before {
  content: "";
}

/* '' */
.icon-credit-card:before {
  content: "💳";
}

/* '\1f4b3' */
.icon-floppy:before {
  content: "💾";
}

/* '\1f4be' */
.icon-clipboard:before {
  content: "📋";
}

/* '\1f4cb' */
.icon-megaphone:before {
  content: "📣";
}

/* '\1f4e3' */
.icon-database:before {
  content: "";
}

/* '' */
.icon-drive:before {
  content: "";
}

/* '' */
.icon-bucket:before {
  content: "";
}

/* '' */
.icon-thermometer:before {
  content: "";
}

/* '' */
.icon-key:before {
  content: "🔑";
}

/* '\1f511' */
.icon-flow-cascade:before {
  content: "";
}

/* '' */
.icon-flow-branch:before {
  content: "";
}

/* '' */
.icon-flow-tree:before {
  content: "";
}

/* '' */
.icon-flow-line:before {
  content: "";
}

/* '' */
.icon-flow-parallel:before {
  content: "";
}

/* '' */
.icon-rocket:before {
  content: "🚀";
}

/* '\1f680' */
.icon-gauge:before {
  content: "";
}

/* '' */
.icon-traffic-cone:before {
  content: "";
}

/* '' */
.icon-cc:before {
  content: "";
}

/* '' */
.icon-cc-by:before {
  content: "";
}

/* '' */
.icon-cc-nc:before {
  content: "";
}

/* '' */
.icon-cc-nc-eu:before {
  content: "";
}

/* '' */
.icon-cc-nc-jp:before {
  content: "";
}

/* '' */
.icon-cc-sa:before {
  content: "";
}

/* '' */
.icon-cc-nd:before {
  content: "";
}

/* '' */
.icon-cc-pd:before {
  content: "";
}

/* '' */
.icon-cc-zero:before {
  content: "";
}

/* '' */
.icon-cc-share:before {
  content: "";
}

/* '' */
.icon-cc-remix:before {
  content: "";
}

/* '' */
.icon-github:before {
  content: "";
}

/* '' */
.icon-github-circled:before {
  content: "";
}

/* '' */
.icon-flickr:before {
  content: "";
}

/* '' */
.icon-flickr-circled:before {
  content: "";
}

/* '' */
.icon-vimeo:before {
  content: "";
}

/* '' */
.icon-vimeo-circled:before {
  content: "";
}

/* '' */
.icon-twitter:before {
  content: "";
}

/* '' */
.icon-twitter-circled:before {
  content: "";
}

/* '' */
.icon-facebook:before {
  content: "";
}

/* '' */
.icon-facebook-circled:before {
  content: "";
}

/* '' */
.icon-facebook-squared:before {
  content: "";
}

/* '' */
.icon-gplus:before {
  content: "";
}

/* '' */
.icon-gplus-circled:before {
  content: "";
}

/* '' */
.icon-pinterest:before {
  content: "";
}

/* '' */
.icon-pinterest-circled:before {
  content: "";
}

/* '' */
.icon-tumblr:before {
  content: "";
}

/* '' */
.icon-tumblr-circled:before {
  content: "";
}

/* '' */
.icon-linkedin:before {
  content: "";
}

/* '' */
.icon-linkedin-circled:before {
  content: "";
}

/* '' */
.icon-dribbble:before {
  content: "";
}

/* '' */
.icon-dribbble-circled:before {
  content: "";
}

/* '' */
.icon-stumbleupon:before {
  content: "";
}

/* '' */
.icon-stumbleupon-circled:before {
  content: "";
}

/* '' */
.icon-lastfm:before {
  content: "";
}

/* '' */
.icon-lastfm-circled:before {
  content: "";
}

/* '' */
.icon-rdio:before {
  content: "";
}

/* '' */
.icon-rdio-circled:before {
  content: "";
}

/* '' */
.icon-spotify:before {
  content: "";
}

/* '' */
.icon-spotify-circled:before {
  content: "";
}

/* '' */
.icon-qq:before {
  content: "";
}

/* '' */
.icon-instagram:before {
  content: "";
}

/* '' */
.icon-dropbox:before {
  content: "";
}

/* '' */
.icon-evernote:before {
  content: "";
}

/* '' */
.icon-flattr:before {
  content: "";
}

/* '' */
.icon-skype:before {
  content: "";
}

/* '' */
.icon-skype-circled:before {
  content: "";
}

/* '' */
.icon-renren:before {
  content: "";
}

/* '' */
.icon-sina-weibo:before {
  content: "";
}

/* '' */
.icon-paypal:before {
  content: "";
}

/* '' */
.icon-picasa:before {
  content: "";
}

/* '' */
.icon-soundcloud:before {
  content: "";
}

/* '' */
.icon-mixi:before {
  content: "";
}

/* '' */
.icon-behance:before {
  content: "";
}

/* '' */
.icon-google-circles:before {
  content: "";
}

/* '' */
.icon-vkontakte:before {
  content: "";
}

/* '' */
.icon-smashing:before {
  content: "";
}

/* '' */
.icon-sweden:before {
  content: "";
}

/* '' */
.icon-db-shape:before {
  content: "";
}

/* '' */
.icon-logo-db:before {
  content: "";
}

/* '' */

/*# sourceMappingURL=/entypo.38a7b678.css.map */